<h1>Listing tshirts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Color</th>
    <th>Condition</th>
    <th>Rating</th>
    <th>Tags</th>
    <th>Note</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tshirts.each do |tshirt| %>
  <tr>
    <td><%= tshirt.name %></td>
    <td><%= tshirt.size %></td>
    <td><%= tshirt.color %></td>
    <td><%= tshirt.condition %></td>
    <td><%= tshirt.rating %></td>
    <td><%= tshirt.tags %></td>
    <td><%= tshirt.note %></td>
    <td><%= tshirt.image_url %></td>
    <td><%= link_to 'Show', tshirt %></td>
    <td><%= link_to 'Edit', edit_tshirt_path(tshirt) %></td>
    <td><%= link_to 'Destroy', tshirt, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tshirt', new_tshirt_path %>
